.hero {
  margin: 0 auto 9.4rem auto;

  background: url('../../assets/images/doodles__hero-background.svg') left;
  background-size: 100%;

  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}