@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800;900&display=swap');

h1 {
  font-family: 'Noto Serif Display', serif;
  font-size: 13rem;
  line-height: 1.1;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 4.8rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 3rem;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

p, a, button {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
}

button {
  font-weight: 500;
}